Python==3.12.2
Brotli==1.0.9
cryptography==49.0.0
Cython==3.2.8
docutils==0.18.1
docutils==0.18.1
importlib_metadata==8.0.0
importlib_metadata==7.0.1
keyring==24.3.1
lockfile==0.12.2
lxml==5.2.1
matplotlib==3.11.0
numpy==2.5.1
protobuf==4.25.3
pyOpenSSL==24.2.1
pyOpenSSL==26.3.0
scipy==1.18.0
skimage==0.0
toml==0.10.2
tornado==6.4.1
xmlrpclib==1.0.1
zipp==3.17.0
zipp==3.19.2
